*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-size: 50%;
    
}

body {
    font-family: Roboto, serif;
    color: linen;
    background-color: rgb(20, 30, 40);
}

a {
    border: 1px solid white;
    margin: .5rem;
    padding: .5rem
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 80px;
    margin-left: 1.5%;
    text-align: center;
}

.landscape-img {
    position: relative;
}

.flag-img {
    position: relative;
}

blockquote {
    text-align: center;
    font-size: 30px;
    border: 1px solid linen;
    border-radius: 9px;
    padding: 0.5%;
    margin: 2.5%;
}

nav {
    text-align: center;
    font-size: 20px;
    border: 1px solid linen;
    border-radius: 9px;
    padding: 1rem;
    margin: 2.5%;
}

.main-side-text {
    text-align: justify;
    font-size: 2rem;
    border: 1px solid linen;
    margin: 1rem;
    padding: 1rem
}

.images {
    position: relative;
    margin: auto;
    padding: 1rem;
}

aside {
    top: 12rem;
}

nav>a:hover {
    background-color: #fff;
}